body{
   
    background-color: peru;
}
.header{
    background-color:chocolate;
 
    padding-left: 20px;
    height: 40px;
    margin-top: -1px;
    }
    a {
        color: #ffebcd;
        margin-top: 20px;
        margin-bottom: 2px;
        padding-left: 100px;
        font-size: xx-large;
    }
    .row{
        background-color:peru;
        border: peru 5px;

        width: 500px;
        height: 200px;
      
        position: absolute;
        display: flex;
    
       align-items:baseline;
       justify-content:space-between;
       margin-top: 10px;
       margin-right: 100px;
       color:white;
       font-size: large;
      
    }
    .row0{
        width: 1000px;
        height: 3000px;
      
        position: absolute;
        display: flex;
    
       align-items:baseline;
       justify-content:space-between;
       margin-top: 10px;
       margin-right: 10px;
       color:white;
       font-size: large;
    
    }
    .row1{
    
            width: 1000px;
            height: 2px;
          
            position: absolute;
            display: flex;
        
           align-items:baseline;
           justify-content:space-between;
           margin-top: 400px;
           margin-right: 10px;
        
        
    }
    .col{
        position:relative;
        width: 1px;
        height: 20px;
    }
        .row2{
           
            width: 1000px;
            height: 1000px;
          
            position: absolute;
            display: flex;
        
           align-items:baseline;
           justify-content:space-between;
           margin-top: 800px;
           margin-right: 10px;
        }
    
    
    div div{
        padding-left:25px;
        color:whitesmoke;
       }
    
       img{
        width: 200px;
        height: 200px;
        margin-right: 120px;
        padding-right: 10px;
        
       }
    
    p{
        padding-left: 2px;
        font-size: large;
    }
    .row3{
        width: 1000px;
            height: 1px;
          
            position: absolute;
            display: flex;
        
           align-items:baseline;
           justify-content:space-between;
           margin-top: 1200px;
           margin-right: 10px;
        }
    
        .row4{
            width: 1000px;
                height: 1px;
              
                position: absolute;
                display: flex;
            
               align-items:baseline;
               justify-content:space-between;
               margin-top: 1600px;
               margin-right: 10px;
            }
            .row5{
                width: 1000px;
                    height: 1px;
                  
                    position: absolute;
                    display: flex;
                
                   align-items:baseline;
                   justify-content:space-between;
                   margin-top: 2000px;
                   margin-right: 10px;
                }
                footer{
                    font-size: medium;
                    color: whitesmoke;
                    font-family: cursive;
                }