div{
    border:solid 1px gray;
    width:50px;
    height:70px;
    
    
}
#b1{
    background-color: gray;
   
    margin-left:260px;
    margin-top:100px;


}
#b2{
    background-color:green;
   
    margin-left: 310px;
    margin-top: -72px;
}
#b3{
    background-color: lightgreen;

    margin-left:360px;
    margin-top:-72px;
   
}
#b4{
    background-color:lime;
  
    margin-left:410px;
    margin-top:-72px;

}
#b5{
    
        background-color:indigo;
      
        margin-left:460px;
        margin-top:-73px;
    
   
    
}
#b6{
    background-color:violet;
      
        margin-left:208px;
        margin-top:1px;
    
}
#b7{
    margin-left:260px;
    margin-top:-73px;


    background-color: violet;
    
}
#b8{
    margin-left:310px;
    margin-top:-72px;


    background-colo:yellow;
    
}
#b9{
    margin-left:310px;
    margin-top:-72px;


    background-color:blue;
    
}
#b10{
    margin-left:360px;
    margin-top:-72px;


    background-color:turquoise;
    
}
#b11{
    margin-left :412px;
    margin-top: -72px;




    background-color:palevioletred;
    
}
#b12{
    margin-left:460px;
    margin-top:-72px;


    background-color:turquoise;
    
}
#b13{
    margin-left: 510px;
    margin-top:-72px;


    background-color:magenta;
    
}


#b14{
    margin-left:155px;
    margin-top:0px;


    background-color:turquoise;
    
}


#b15{
    margin-left:207px;
    margin-top:-72px;


    background-color:blueviolet;
    
}


#b16{
    margin-left:259px;
    margin-top:-72px;


    background-color:crimson;
}

#b17{
    margin-left:310px;
    margin-top:-72px;


    background-color:darkkhaki;

}

#b18{
    margin-left:360px;
    margin-top:-72px;


    background-color:crimson;

}
#b19{
    margin-left: 411px;
    margin-top:-72px;


    background-color:yellow;
}
#b20{
    margin-left: 460px;
    margin-top:-72px;


    background-color:yellow;
}
#b21{
    margin-left: 510px;
    margin-top:-72px;


    background-color:burlywood;
}

#b22{
    margin-left: 562px;
    margin-top:-72px;


    background-color:burlywood;

}










